<!DOCTYPE html>
<html>
<head>
<title>
Register
</title>
</head>
<style>
body{
    font-family:Arial, Helvetica, sans-serif;
    background:url(static/back1.jpg) no-repeat center;
    font-size:13px;
}
td{
    font-family: Georgia, serif;
}
h1{
    font-family: Georgia, serif;
}

.input{
    width:150px;
    height:20px;
}
</style>

<body background="D:/Python/BUY/templates/back1.jpg">
<br><br>
<br><br><br>
<h1 align="center"><big><FONT style="FONT-FAMILY:Microsoft YaHei">User Register Page</FONT></big></h1>
<form method="get">
    <table border="0" align="center">
        <tr>
            <td>User Name</td>
            <td><input type="text" name="username" class="input"/></td>
        </tr>
        <tr>
            <td>PassWord</td>
            <td><input type="password" name="password" class="input"/></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" name="age" class="input"/></td>
        </tr>
        <tr>
            <td>PersonalSigin</td>
            <td><input type="text" name="sigin" class="input" /></td>
        </tr>
</table>
    <p align="center">
            <td><input type="submit" value="   Submit   "/></td>
            <td><input type="reset" value="   Reset   "/></td>
            <td><input type="button" value="   Login   " onclick="location.href='http://172.20.71.168:8080/login'"/></td>
    </p>
</form>>
</body>
</html>