<!DOCTYPE html>
<html>
    <head>
        <title>无耻小人</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="http://localhost:8080/static/image/dog.ico">
        <link rel="stylesheet" href="http://localhost:8080/static/bootstrap-3.3.7/css/bootstrap.min.css">
        <script src="http://localhost:8080/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/static/js/jquery-3.3.1.mim.js"></script>
      
    </head>
    <body style="background:url(http://localhost:8080/static/image/simple-background.jpg) no-repeat center;">
        <div class="jumbotron text-center" style="margin-bottom:0;max-height:180px">
            <h2>众里寻他千百度</h2>
            <p><small>蓦然回首，那人却在，灯火阑珊处</small></p> 
        </div>
    

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">无耻小人</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="#">有些得做</a></li>
                  <li><a href="#">有些要想</a></li>
                  <li><a href="#">有些做过</a></li>
                  <li><a href="#">有些忘了</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3>无论你在哪里</h3>
                <h4>总有没有完成的梦想</h4>
                <div class="fakeimg">
                        <img src="http://localhost:8080/static/image/simple-dog.jpg" width="150px" height="150px">
                </div>
                <hr class="hidden-sm hidden-md hidden-lg">
              </div>

              <div class="col-sm-8">
                <div class="fakeimg">
                    <!-- <img src="http://localhost:8080/static/image/night.jpg" width="100%" height="200px"> -->
                </div>
                <br>
                <br>
                <br>
                <p class="lead"><small>
                    人们懒于改造世界必然勤于改造自己，懒于改造生产方式，对了，懒于进行思想劳动必然勤于体力劳动，
                    懒于创造性的思想活动必然勤于死记硬背。
                    要无忧无虑地去抒情,去歌舞狂欢,去向世界发出我们的声音,我一个人是不敢的,我怕人家说我疯。
                    有了你我就敢.只要有你一个,就不孤独!
                    我可不是愁容骑士，我一点也不会想思、叹息、吟诗、唱小夜曲。
                    我只会像一头笼子里的狼一样焦急地走来走去，好像害了牙疼。
    
                    我觉得我的话不能孤孤单单地写在这里,你要把你的信写在空白的地方。
                    这可不是海誓山盟，海誓山盟是把现在的东西固定住。两个人成了活化石，我们用不着它，我们要爱情长久。
                </small></p>
                <p style="text-align:right">王小波《爱你就像爱生命》</p>
                <br>
                <h2></h2>
                <h5></h5>
                <div class="fakeimg"></div>
                <p></p>
              </div>

            </div>
          </div>
          
          <div class="col-md-12" style="margin-bottom:0;">
            <h4><center>Wego@20180628</center></h4>
          </div>

    </body>
</html>
