<!DOCTYPE html>
<html>
    <head>
        <title>First Use Bootstrap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="image/x-icon" href="../image/dog.ico">
        <!-- <link ref="stylesheet" type="text/css" href="../bootstrap-3.3.7/css/bootstrap.min.css">
        <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script> -->
        <script src="../js/jquery-2.1.1.min.js"></script>
        

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
    </head>
    <body>

    
        <div class="container">
            <div class="row" style="background-color:red">
                <p>I am head</p>
            </div>
            
            <div class="row">
                <div class="col-md-6"  style="background-color:black">
                    <p>I am P</p>
                </div>
                <div class="col-md-6"  style="background-color:blue">
                    <p>I am Q</p>
                </div>

            </div>
            <div class="row">
                    <div class="col-md-4"  style="background-color:yellow">
                        <p>I am P</p>
                    </div>
                    <div class="col-md-4"  style="background-color:black">
                        <p>I am Q</p>
                    </div>
                    <div class="col-md-4"  style="background-color:red">
                            <p>I am Q</p>
                    </div>
    
                </div>
            <div class="row" style="background-color:green">
                <p>I am tail</p>

            </div>

        </div>

    </body>
</html>
